@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url("../img/img-background-form.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    width: 75%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.form {
    background-color: #fff;
    height: 100%;
    width: 100%;
    border-radius: .8em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.form__header {
    text-align: center;
    padding: .8em;
}

.form__header__title {
    letter-spacing: .5px;
    font-size: 2em;
    margin-bottom: .2em;
}

.form__header__page {
    letter-spacing: .5px;
    margin-bottom: .8em;
}

.form__row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: .6em;
    color: #333;
    margin: .5em 0;
}

.form__row input {
    background: transparent;
    border: 0;
    outline: 0;
    padding: .3em 0;
    margin: .6em 0;
    border-bottom: 1px solid #999;
    color: #333;
    font-size: 1em;
}

.form__row label {
    text-align: center;
    font-size: .8em;
}

.form__row span {
    text-align: right;
    font-size: .9em;
    color: red;
}

.form__row textarea {
    background: transparent;
    border: 0;
    outline: 0;
    padding: .3em 0;
    margin: .6em 0;
    border-bottom: 1px solid #999;
    color: #333;
    font-size: 1em;
}


.form button {
    background: #141a34;
    color: #fff;
    font-size: 1em;
    border-radius: 0.4em;
    border: 1px solid rgba(255, 255, 255, 0.7);
    padding: 10px 40px;
    outline: 0;
    cursor: pointer;
    display: block;
    margin: 0.7em auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.fa-message {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    font-size: 2em;
    padding: .5em;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #141a34;
    display: none;
}

::placeholder {
    font-size: .9em;
}

#form__submit__error {
    color: red;
}

.form__row span i  {
    color: seagreen;
    font-size: .9em;
}

@media (min-width: 400px) {

    .wrapper {
        width: 60%;
        height: 75%;
    }

    .form__header__title {
        font-size: 1em;
    }

    .form__header__page {
        margin-bottom: 0.2em;
    }

    .form__row input {
        font-size: .7em;
    }

    .form__row label {
        font-size: .7em;
    }

    .form__row span {
        font-size: .7em;
    }

    .form__row textarea {
        font-size: .7em;
    }
    #form__name__error .fa-solid {
        display: inline;
        color: seagreen;
    }
}

@media (min-width: 600px) {

    body {
        background-color: #333333;
    }

    .wrapper {
        width: 60%;
        height: 80%;
    }

    .form {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }

    .form__row {
        padding: 0;
        margin: 0;
    }

    .form__header__title {
        font-size: 1em;
    }

    .form__header__page {
        margin-bottom: 0.2em;
        font-size: .9em;
    }

    .form__row input {
        font-size: .7em;
    }

    .form__row label {
        font-size: .7em;
    }

    .form__row span {
        font-size: .7em;
    }

    .form__row textarea {
        font-size: .7em;
    }

    .fa-message {
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
        font-size: 2em;
        padding: .5em;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        color: #141a34;
    }

    .form button {
        margin: 0;
    }
    #form__name__error .fa-solid {
        display: inline;
        color: seagreen;
    }
}

@media (min-width: 800px) {

    .wrapper {
        width: 90%;
    }

    .form {
        width: 70%;
    }

    .form__header__title {
        font-size: 2em;
    }

    .form__header__page {
        margin-bottom: 0.2em;
        padding: 0 1em;
    }

    .form {
        padding: 2em 0;
    }

    .form__row {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: space-around;
        justify-content: center;
        -webkit-align-content: space-around;
        align-content: space-around;
        -webkit-align-items: baseline;
        align-items: baseline;
    }

    .form__row label {
        width: 20%;
    }

    .form__row input {
        width: 40%;
    }

    .form__row textarea {
        width: 40%;
    }

    .form__row span {
        width: 20%;
        padding: 0 .5em;
    }

    .form__row textarea {
        font-size: .7em;
    }

    .fa-paper-plane {
        display: block;
    }

    .fa-message {
        background-color: #fff;
        color: #141a34;
    }

    .form__row span {
        font-size: 1em;
        text-align: center;
    }

    .form__row span i  {
        color: seagreen;
        font-size: 1.2em;
    }
}

@media (min-width: 1200px) {

    .form {
        width: 50%;
    }

    .form .form__header__page {
        padding: 0 4em;
    }

    .form__row label {
        width: 20%;
        font-size: 1em;
    }

    .form__row input {
        width: 40%;
        font-size: 1em;
    }

    .form__row textarea {
        width: 40%;
    }

    .form__row span {
        width: 20%;
        padding: 0 .5em;
    }

    .form__row textarea {
        font-size: 1em;
    }

    .fa-paper-plane {
        display: block;
    }

    .form__row span {
        font-size: 1em;
        text-align: center;
    }

    .form__row span i  {
        color: seagreen;
        font-size: 1.2em;
    }
}